<br>1 - Hà Nội - 100000
<br>2 - TP. Hồ Chí Minh - 700000
<br>3 - An Giang - 880000
<br>4 - Bà Rịa Vũng Tàu - 790000
<br>5 - Bạc Liêu - 260000
<br>6 - Bắc Kạn - 960000
<br>7 - Bắc Giang - 220000
<br>8 - Bắc Ninh - 790000
<br>9 - Bến Tre - 930000
<br>10 - Bình Dương - 590000
<br>11 - Bình Định - 820000
<br>12 - Bình Phước - 830000
<br>13 - Bình Thuận - 800000
<br>14 - Cà Mau - 970000
<br>15 - Cao Bằng - 270000
<br>16 - Cần Thơ - 900000
<br>17 - Đà Nẵng - 550000
<br>18 - Điện Biên - 380000
<br>19 - Đắk Lắk - 630000
<br>20 - Đắc Nông - 640000
<br>21 - Đồng Nai - 810000
<br>22 - Đồng Tháp - 870000
<br>23 - Gia Lai - 600000
<br>24 - Hà Giang - 310000
<br>25 - Hà Nam - 400000
<br>26 - Hà Tĩnh - 480000
<br>27 - Hải Dương - 170000
<br>28 - Hải Phòng - 180000
<br>29 - Hậu Giang - 910000
<br>30 - Hòa Bình - 350000
<br>31 - Hưng Yên - 160000
<br>32 - Khánh Hoà - 650000
<br>33 - Kiên Giang - 920000
<br>34 - Kon Tum - 580000
<br>35 - Lai Châu - 390000
<br>36 - Lạng Sơn - 240000
<br>37 - Lào Cai - 330000
<br>38 - Lâm Đồng - 670000
<br>39 - Long An - 850000
<br>40 - Nam Định - 420000
<br>41 - Nghệ An - 460000 - 470000
<br>42 - Ninh Bình - 430000
<br>43 - Ninh Thuận - 660000
<br>44 - Phú Thọ - 290000
<br>45 - Phú Yên - 620000
<br>46 - Quảng Bình - 510000
<br>47 - Quảng Nam - 560000
<br>48 - Quảng Ngãi - 570000
<br>49 - Quảng Ninh - 200000
<br>50 - Quảng Trị - 520000
<br>51 - Sóc Trăng - 950000
<br>52 - Sơn La - 360000
<br>53 - Tây Ninh - 840000
<br>54 - Thái Bình - 410000
<br>55 - Thái Nguyên - 250000
<br>56 - Thanh Hoá - 440000 - 450000
<br>57 - Thừa Thiên Huế - 530000
<br>58 - Tiền Giang - 860000
<br>59 - Trà Vinh - 940000
<br>60 - Tuyên Quang - 300000
<br>61 - Vĩnh Long - 890000
<br>62 - Vĩnh Phúc - 280000
<br>63 - Yên Bái - 320000